<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">
                <span class="oi oi-account-logout" aria-hidden="true"></span>Logout
            </button>
        </form>
    </Authorized>
    <NotAuthorized>

    </NotAuthorized>
</AuthorizeView>
