@inherits LayoutComponentBase

<PageTitle>win21</PageTitle>

<div class="page">
    
        

    <main>
        <NavMenu />
        


        <article class="content px-lg-4">
            @Body
        </article>
    </main>

</div>
