body {
}

header {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
header hr {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
header h1 {
    font-size: 2.5rem;
}
.head-title {
    text-align: center;

}
.upload-form-container {
    width: 600px;
    padding-top: 3rem;
    background-color: #F6F6F6;
    padding: 2rem 2rem;
    border-radius: .25rem;
    margin: auto;
}

.info-box {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.alert {
    border-radius: .25rem;
}
.alert-dismissible {
    padding-right: 2rem;
    padding-top: 1.2rem;
    padding-bottom: .5rem;
}
.guide-link {
}


@media screen and (max-width: 767px) {
    .upload-form-container {
        width: 100%;
    }
    header {
        width: 100%
    }
    header h1 {
        font-size: 2rem;
    }
    .info-box {
        width: 100%;

    }
    .result-list li {
        width: auto;
        word-wrap: break-word;
    }
}